.header {
    display: block;
    $navbar-height: 130px;
    & .navbar-header {
        height: 130px;
        width: 100%;
        background: var(--navBackground);
        & .sub-nav-header {
            max-width: 1200px;
            height: 130px;
            padding: auto calc((100% - height) / 2);;
            margin: auto;
            display: flex !important;
            align-items: center;
            justify-content: space-between;
            & .logo {
                height: 70px;
                width: auto;
                img {
                    height: 100%;
                }
            }

            & .app-navbar-buttons {
               display: flex !important;
               gap: 10px;
               & .app-download-btn {
                  border-radius: 10px;
                  border: 1px solid black;
                  height: 70px;
                  width: 160px;
                  background: black;
                  color: white;
                  text-align: center
                  ;
               }
            }
            @media (max-width: 768px) {
               .app-navbar-buttons {
                  flex-direction: column;
                  row-gap: 4px;  
                  & .app-download-btn {
                     height: 50px;
                     width: 160px;
                  }      
               }      
             }
        }
    }
    
}



