.Dashboard {
   max-width: 1170px;
   margin: 50px auto 0px;
}

.Dashboard .leaderboard {
   margin: 10px auto;
   text-align: center;
}

.Dashboard .text {
   max-width: 900px;
   text-align: center;
   margin: 0 auto 40px;
   line-height: 1.5;
}

.Dashboard .text h1 {
   color: #34447C;
   font-size: 35px;
   font-weight: 600;
   text-align: center;
}

.Dashboard .text p {
   color: #8293D0;
   ;
}

.Dashboard .text span {
   font-size: 18px;
   font-weight: 400;
}

.PracticeTopics {
   display: flex;
   justify-content: center
}

.Toeic-Topics-btn {
   display: flex;
   background: #d8dfec;
   border-radius: 50px;
   width: 700px;
   height: 70px;
   position: relative;
}

.Toeic-Subject-Tabs{
   position: absolute;
   width: 48%;
   height: 60px;
   z-index: 0;
   background: #fff;
   border-radius: 50px;
   top: 50%;
   left: 25%;
   transform: translate(-50%,-50%);
   transition: all .2s ease;
}

.Tab-Content {
   font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #636cf5;
    text-align: center;
    padding: 0.25em 0; 
}